<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h2>Edit Book</h2>
        <form th:action="@{/books/edit/{id}(id=${book.id})}" th:object="${book}" method="post">
            <div class="form-group">
                <label>Title</label>
                <input type="text" th:field="*{title}" class="form-control" />
            </div>
            <div class="form-group">
                <label>Author</label>
                <input type="text" th:field="*{author}" class="form-control" />
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="number" th:field="*{price}" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Update Book</button>
        </form>
    </div>
</body>
</html>
